<app-loader *ngIf="loading"></app-loader>
<app-navbar [_isDark]="themeDark"></app-navbar>
<section class="about responsive">
  <div class="info">
    <div>
      <p>Hola, mi nombre es</p>
      <h1>ALAN <span>ARRIAGA</span></h1>
    </div>
    <p #textP></p>
  </div>
</section>
<section class="skills responsive">
  <h1>Habilidades</h1>
  <div class="s-cards">
    <section class="s-card" *ngFor="let skill of skills">
      <h2>{{ skill.section }}</h2>
      <div>
        <app-skill
          *ngFor="let item of skill.content"
          [name]="item.name"
          [level]="item.level"
          [icon]="item.icon"
        ></app-skill>
      </div>
    </section>
  </div>
</section>
<app-bot></app-bot>
