<app-loader *ngIf="loading"></app-loader>
<app-navbar></app-navbar>
<!-- <section>
  <div class="info">
    <div>
      <p>Hola, mi nombre es</p>
      <h1>ALAN<span>ARRIAGA</span></h1>
    </div>
    <p class="description">
      Ingeniero en sistemas especializao en construir y ocuacionalmente diseñar
      excepcionales experienicias digitales. Buscando crear la mejor version de
      mi, amante de aprender, compartir conocimineto y dejar mi huella.
    </p>
    <button>Curriculum</button>
  </div>
  <app-profile-picture></app-profile-picture>
</section> -->
<app-bot></app-bot>
