<app-loader *ngIf="loading"></app-loader>
<app-navbar [_isDark]="themeDark"></app-navbar>
<main>
  <section class="about">
    <div class="info">
      <div>
        <p>{{ info.hello }}</p>
        <h1>
          {{ info.name }} <span>{{ info.lastname }}</span>
        </h1>
      </div>
      <p #textP></p>
    </div>
  </section>

  <section id="skills" class="section">
    <h1>Habilidades</h1>
    <div class="grid" style="--col: 4">
      <section
        class="skill s{{ i }}"
        *ngFor="let skill of skills; let i = index"
      >
        <h2>{{ skill.section }}</h2>
        <div>
          <app-skill
            *ngFor="let item of skill.content"
            [skill]="item"
          ></app-skill>
        </div>
      </section>
    </div>
  </section>

  <section id="projects" class="section">
    <h1>Proyectos</h1>
    <div class="grid" style="--col: 3">
      <app-card-project
        *ngFor="let item of projects"
        [project]="item"
      ></app-card-project>
    </div>
  </section>

  <section id="certifications" class="section">
    <h1>Certificaciones</h1>
    <div class="grid" style="--col: 3">
      <app-card-certification
        *ngFor="let item of certifications"
        [certification]="item"
      ></app-card-certification>
    </div>
  </section>

  <section id="experience" class="section">
    <h1>Experience</h1>
    <app-card-experience
      *ngFor="let item of experiences"
      [experience]="item"
    ></app-card-experience>
  </section>
</main>
<app-bot></app-bot>
