main {
  .about {
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
      width: 100%;
      div {
        line-height: 1.2;
        margin-bottom: 1rem;
        p {
          font-family: "Fira Code", monospace;
          font-size: 0.9rem;
        }
        h1 {
          font-family: "Laila", sans-serif;
          color: var(--primary-color);
          font-size: 3.5rem;
          font-weight: 300;
          line-height: 0.9;
          span {
            font-family: "Laila", sans-serif;
          }
        }
      }
      p {
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--sub-text-color);
      }
    }
  }

  .section {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 5rem;
    margin-bottom: 2rem;
    h1 {
      color: var(--primary-color);
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    .grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(var(--col), 1fr);
      .s0 {
        grid-column: span 3;
      }
      .s4 {
        grid-column: span 2;
      }
      .skill {
        padding: 2rem 1.5rem 1.5rem;
        border-radius: 0.3rem;
        position: relative;
        background-color: var(--card-color);
        h2 {
          background-color: var(--card-color);
          width: max-content;
          line-height: 1;
          padding: 0.3rem 0.7rem;
          position: absolute;
          top: 1rem;
          left: 2.5rem;
          color: var(--sub-text-color);
        }
        div {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 1rem;
          border: 2px solid var(--sub-text-color);
          border-radius: 1rem;
          padding: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  main {
    padding: 0 2rem;
    .section .grid {
      grid-template-columns: 1fr;
      .s0,
      .s4 {
        grid-column: 1;
      }
    }
  }
}

@media (max-width: 650px) {
  .about .info div h1 {
    font-size: 2.7rem;
  }
}

@keyframes typewritter {
  to {
    left: 100%;
  }
}
