<button class="mobile-nav-toggle" (click)="toggleNav()">
  <i class="fas fa-bars"></i>
</button>
<nav>
  <ul data-visible="false" #nav>
    <li><a href="">Habilidades</a></li>
    <li><a href="">Certificaciones</a></li>
    <li><a href="">Proyectos</a></li>
    <li><a href="">Experiencia</a></li>
    <li><a href="">Blogs</a></li>
    <li><a href="">Contacto</a></li>
  </ul>
  <!-- <ul>
    <li><i class="fas fa-globe-americas"></i></li>
    <li><i class="fas fa-volume-up"></i></li>
    <li><i class="fas fa-sun"></i></li>
  </ul> -->
</nav>
