<section class="mobile-nav"></section>
<button class="mobile-nav-toggle" (click)="toggleNav()">
  <icon-menu [_isOpen]="isOpen"></icon-menu>
</button>
<section class="nav" data-visible="false" #nav>
  <nav>
    <ul class="social">
      <li>
        <a href="https://www.linkedin.com/in/A14Narriaga" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/A14Narriaga" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/A14Narriaga" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
    </ul>
    <ul class="links">
      <li id="l0"><a href="#skills">Habilidades</a></li>
      <li id="l1"><a href="#certifications">Certificaciones</a></li>
      <li id="l2"><a href="#projects">Proyectos</a></li>
      <li id="l3"><a href="#experience">Experiencia</a></li>
      <li id="l4"><a href="#blogs">Blogs</a></li>
    </ul>
    <ul class="configs">
      <li (click)="toggleLanguage()">
        <div class="icon language">
          <icon-language [_isES]="isES"></icon-language>
        </div>
      </li>
      <li (click)="toggleSound()">
        <div class="icon sound">
          <icon-sound [_isOn]="isOn"></icon-sound>
        </div>
      </li>
      <li (click)="toggleTheme()">
        <div class="icon theme">
          <icon-theme [_isDark]="isDark"></icon-theme>
        </div>
      </li>
    </ul>
  </nav>
</section>
