.mobile-nav-toggle
  display: none

ul
  background-color: hsl(0 0% 0% / 0.75)
  display: flex
  list-style: none
  gap: 1rem
  li
    a
      text-decoration: none

@media (max-width: 632px)
  .mobile-nav-toggle
    display: block
    position: absolute
    background-color: transparent
    width: 3rem
    aspect-ratio: 1
    top: 1.5rem
    left: 1.5rem
    z-index: 1001
    font-size: 1.5rem
  ul
    position: fixed
    inset: 0 30% 0 0
    padding: min(20vh, 10rem) 2rem
    flex-direction: column
    z-index: 1000
    transition: transform 350ms ease-in
    transform: translateX(-100%)
  ul[data-visible="true"]
    transform: translateX(0%)

@supports(backdrop-filter: blur(1rem))
  ul
    background-color: hsl(0 0% 100% / 0.1)
    backdrop-filter: blur(1rem)
