@mixin fadeRightIn {
  transform: translateX(-10rem);
  animation: fadeInRight 0.5s ease forwards;
  opacity: 0;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 100;
  top: 0;
  background-color: var(--background-color-trasparent);
  nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social {
      display: none;
    }
    .links,
    .configs {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .links li a {
      text-decoration: none;
      font-weight: 500;
      color: var(--navbar-text-color);
      position: relative;
      line-height: 1.1;
      &:after,
      &:before {
        position: absolute;
        content: "";
        top: 0;
        width: 0%;
        height: 100%;
        border-bottom: 2px solid var(--primary-color);
        transition: width 0.5s cubic-bezier(1, -0.01, 0, 1.11);
      }
      &:after {
        left: 0;
      }
      &:before {
        right: 0;
      }
      &:hover:after,
      &:hover:before {
        width: 103%;
      }
      &:hover {
        color: var(--primary-color);
      }
    }
    .configs li {
      svg {
        fill: var(--navbar-text-color);
        transition: fill 0.2s cubic-bezier(1, -0.01, 0, 1.11);
        &:hover {
          fill: var(--primary-color);
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .mobile-nav {
    position: fixed;
    width: 100%;
    height: 4.5rem;
    background-color: var(--background-color-trasparent);
    z-index: 1000;
  }
  .mobile-nav-toggle {
    position: fixed;
    background-color: transparent;
    width: 1.6rem;
    aspect-ratio: 1;
    top: 1.5rem;
    left: 2rem;
    z-index: 1001;
    &:hover {
      cursor: pointer;
    }
  }
  .nav {
    position: fixed;
    width: auto;
    padding: min(25vh, 20rem) 2rem;
    inset: 0 30% 0 0;
    z-index: 1000;
    transition: transform 350ms ease-in;
    transform: translateX(-100%);
    nav {
      flex-direction: column-reverse;
      .links {
        flex-direction: column;
        font-size: 1.2rem;
        margin-bottom: 3rem;
      }
      .configs {
        gap: 1.5rem;
        margin-bottom: 3rem;
        .language-icon {
          width: 1.9rem;
        }
        .sound-icon {
          width: 1.8rem;
        }
        .theme-icon {
          width: 1.7rem;
        }
      }
      .social {
        display: flex;
        gap: 1.5rem;
        font-size: 1.6rem;
        list-style: none;
        i {
          color: var(--navbar-text-color);
          transition: fill 0.2s cubic-bezier(1, -0.01, 0, 1.11);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .nav[data-visible="true"] {
    transform: translateX(0%);
    nav {
      .configs {
        @include fadeRightIn;
        animation-delay: 0.2s;
      }
      .links {
        #l0 {
          @include fadeRightIn;
          animation-delay: 0.3s;
        }
        #l1 {
          @include fadeRightIn;
          animation-delay: 0.4s;
        }
        #l2 {
          @include fadeRightIn;
          animation-delay: 0.5s;
        }
        #l3 {
          @include fadeRightIn;
          animation-delay: 0.6s;
        }
        #l4 {
          @include fadeRightIn;
          animation-delay: 0.7s;
        }
      }
      .social {
        @include fadeRightIn;
        animation-delay: 0.8s;
      }
    }
  }
}

.sound-icon {
  width: 1.5rem;
  aspect-ratio: 1;
  #horn,
  #vol1,
  #vol2,
  #vol3 {
    transition: transform, opacity 350ms cubic-bezier(1, -0.32, 0, 1.44);
  }
  #horn {
    transform-origin: center center;
  }
  #vol1 {
    transition-delay: 0ms;
  }
  #vol2 {
    transition-delay: 100ms;
  }
  #vol3 {
    transition-delay: 200ms;
  }
}
.sound-icon[data-sound="false"] {
  #horn {
    transform: translateX(25%) scale(1.2);
    transition-delay: 400ms;
  }
  #vol1,
  #vol2,
  #vol3 {
    opacity: 0;
  }
  #vol1 {
    transition-delay: 200ms;
  }
  #vol2 {
    transition-delay: 100ms;
  }
  #vol3 {
    transition-delay: 0ms;
  }
}

.theme-icon {
  width: 1.4rem;
  aspect-ratio: 1;
  #moon,
  #sun,
  #sun-rays {
    transition: transform 350ms cubic-bezier(1, -0.32, 0, 1.44);
  }
  #moon {
    transform-origin: center center;
    transform: rotate(-90deg) scale(0);
    opacity: 0;
  }
  #sun {
    transform-origin: center center;
  }
  #sun-rays {
    transform-origin: center center;
  }
}
.theme-icon[data-dark="false"] {
  #moon {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  #sun {
    opacity: 0;
    transform: scale(0);
  }
  #sun-rays {
    opacity: 0;
    transform: rotate(-90deg) scale(0);
  }
}

.language-icon {
  width: 1.6rem;
  aspect-ratio: 1;
  #msg,
  #es,
  #en {
    transition: transform 350ms cubic-bezier(1, -0.32, 0, 1.44);
  }
  #en {
    transform: translateX(-100%);
  }
  #es {
    transform: translateX(0%);
  }
}
.language-icon[data-es="false"] {
  #en {
    transform: translateX(0%);
  }
  #es {
    transform: translateX(100%);
  }
}
@supports (backdrop-filter: blur(2rem)) {
  .nav,
  .mobile-nav {
    backdrop-filter: blur(2rem);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
