<section class="card">
  <header>
    <div class="folder">
      <i class="fas fa-folder"></i>
      <span>2022</span>
    </div>
    <div class="links">
      <i class="fab fa-github"></i>
      <i class="fas fa-external-link-alt"></i>
    </div>
  </header>
  <main>
    <p class="title">Nombre del proyecto</p>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sit id sed
      velit sapiente laudantium reiciendis? Commodi modi rem totam rerum. Illum
      pariatur laboriosam similique maxime, quis iusto unde doloribus.
    </p>
  </main>
  <footer>
    <i class="fab fa-react"></i>
    <i class="fab fa-html5"></i>
    <i class="fab fa-sass"></i>
    <i class="fab fa-node-js"></i>
  </footer>
</section>
