//TODO: Add ripple effect: https://codepen.io/Ruddy/pen/09052b957d82a17bd6ca70ac6663dd6a
.card {
  background-color: var(--card-color);
  border-radius: 0.3rem;
  padding: 1.5rem 1.5rem 2rem;
  width: 22rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s all linear;
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    .folder {
      position: relative;
      i {
        color: var(--primary-color);
        font-size: 3.5rem;
      }
      span {
        position: absolute;
        top: 32%;
        left: 18%;
        color: var(--card-color);
        font-weight: bold;
      }
    }
    .links {
      i {
        margin-left: 1rem;
        font-size: 1.45rem;
        transition: 0.2s all linear;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
  main {
    margin-bottom: 1.5rem;
    .title {
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: 0.4rem;
      transition: 0.3s all linear;
    }
    .description {
      line-height: 1.4;
      font-size: 0.9rem;
      color: var(--sub-text-color);
    }
  }
  footer {
    display: flex;
    i {
      margin-right: 1rem;
      font-size: 1.7rem;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: translateY(-2px);
    main {
      .title {
        color: var(--primary-color);
      }
    }
  }
}
