section
  position: fixed
  background-color: var(--background-color)
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  z-index: 9999
  .circle
    display: flex
    justify-content: center
    align-items: center
    width: 6.5rem
    height: 6.5rem
    outline: 3px solid #bdbdbd
    border: 3px solid #00cbf8
    border-radius: 100%
    position: absolute
    span
      font-family: 'Laila', sans-serif
      font-size: 4.5rem
    .blue
      color: #00cbf8
    .gray
      color: #bdbdbd
      transform: rotate(180deg)
      margin-left: -0.6rem
