.logo
  position: fixed
  background-color: var(--background-color)
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  z-index: 9999
  svg
    width: 8rem

.circle-gray, .A-gray
  fill: #bdbdbd

.circle-cyan, .A-cyan
  fill: #00cbf8

.circle-gray
  animation: anim-cg 2s infinite

.circle-cyan
  animation: anim-cc 2s infinite

.A-gray, .A-cyan
  animation: anim-l 2s infinite

@keyframes anim-cg
  0%
    opacity: 0
    transform: translateX(-100%) translateY(-100%)
  100%
    opacity: 1
    transform: translateX(0%) translateY(0%)

@keyframes anim-cc
  0%
    opacity: 0
    transform: translateX(100%) translateY(100%)
  100%
    opacity: 1
    transform: translateX(0%) translateY(0%)

@keyframes anim-l
  0%
    opacity: 0
    transform: scale(0) translateX(50%) translateY(50%)
  100%
    opacity: 1
    transform: scale(1) translateX(0) translateY(0)
