.Buttom {
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  gap: 0.5rem;
  &--primary {
    border-color: var(--text-color);
    color: var(--text-color);
    transition: all 200ms linear;
    i {
      color: var(--text-color);
    }
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
      i {
        color: var(--primary-color);
      }
    }
  }
}
