<section class="bot" data-visible="false" #bot>
  <header>
    <div class="wrapper">
      <img src="assets/images/profile/P1.jpg" alt="" />
      <div class="info">
        <p class="title">Alan Bot</p>
        <p class="description">
          {{ writting ? "Escribiendo..." : "!Hazme una pregunta!" }}
        </p>
      </div>
    </div>
    <button
      [disabled]="writting"
      (click)="handleBot()"
      [ngClass]="{ disabled: writting }"
    >
      <i class="fas fa-times"></i>
    </button>
  </header>
  <main #container>
    <p
      *ngFor="let c of conversation"
      [class]="c.bot ? 'bot-msg' : 'usr-msg'"
      (click)="executeBotOpt(c.msg)"
    >
      <span [ngClass]="{ link: c.icon }">
        {{ c.msg }}
        <i class="fas fa-{{ c.icon }}"></i>
      </span>
    </p>
    <ng-container *ngIf="!writting">
      <p *ngFor="let c of options" class="usr-opt" (click)="addMessages(c)">
        <span>
          {{ c.msg }}
        </span>
      </p>
    </ng-container>
  </main>
</section>

<section class="botMsg" data-visible="false" #msgBot>
  <header>
    <button (click)="handleBot()">
      <i class="fas fa-times"></i>
    </button>
    <img src="assets/images/profile/P1.jpg" alt="" />
    <p class="title">¡Hola!</p>
    <p class="description">Te contactare pronto</p>
  </header>
  <main>
    <form [formGroup]="formGroup">
      <input
        type="text"
        placeholder="Correo"
        formControlName="email"
        [ngClass]="{ invalid: isInvalid('email') }"
      />
      <input
        type="text"
        placeholder="Nombre"
        formControlName="name"
        [ngClass]="{ invalid: isInvalid('name') }"
      />
      <input
        type="text"
        placeholder="Asunto"
        formControlName="matter"
        [ngClass]="{ invalid: isInvalid('matter') }"
      />
      <textarea
        placeholder="Mensaje"
        formControlName="msg"
        [ngClass]="{ invalid: isInvalid('msg') }"
      ></textarea>
    </form>
  </main>
  <footer>
    <button (click)="send()">Enviar</button>
  </footer>
</section>

<button
  class="floating-btn{{ openBot ? '-close' : '' }}"
  [disabled]="openMsgBot ? false : writting"
  (click)="handleBot()"
>
  <div
    data-pulse="true"
    #iconDiv
    [ngClass]="{ disabled: openMsgBot ? false : writting }"
  >
    <i class="{{ openBot ? 'far fa-times-circle' : 'far fa-comment' }}"></i>
  </div>
</button>
