<section class="bot" *ngIf="openBot">
  <header>
    <img src="assets/images/profile/P1.jpg" alt="" />
    <div class="info">
      <p class="title">Alan Bot</p>
      <p class="description">
        {{ writting ? "Escribiendo..." : "!Hazme una pregunta!" }}
      </p>
    </div>
  </header>
  <main #container>
    <p
      *ngFor="let c of conversation"
      [class]="c.bot ? 'bot-msg' : 'usr-msg'"
      (click)="executeBotOpt(c.msg)"
    >
      <span [ngClass]="{ link: c.icon }">
        {{ c.msg }}
        <i class="fas fa-{{ c.icon }}"></i>
      </span>
    </p>
    <ng-container *ngIf="!writting">
      <p *ngFor="let c of options" class="usr-opt" (click)="addMessages(c)">
        <span>
          {{ c.msg }}
        </span>
      </p>
    </ng-container>
  </main>
</section>

<section class="botMsg" *ngIf="msgView">
  <header>
    <img src="assets/images/profile/P1.jpg" alt="" />
    <p class="title">¡Hola !</p>
    <p class="description">Te contactare pronto</p>
  </header>
  <main>
    <form>
      <input type="text" placeholder="Correo" />
      <input type="text" placeholder="Nombre" />
      <input type="text" placeholder="Asunto" />
      <textarea placeholder="Mensaje"></textarea>
    </form>
  </main>
  <footer>
    <button (click)="send()">Enviar</button>
  </footer>
</section>

<section class="floating-btn">
  <i
    class="{{ openBot ? 'far fa-times-circle' : 'far fa-comment' }}"
    (click)="
      this.msgView ? (this.msgView = false) : (this.openBot = !this.openBot)
    "
  ></i>
</section>
