.social {
  display: var(--displayHomeSocial);
  gap: 1.5rem;
  font-size: 1.6rem;
  list-style: none;
  i {
    color: var(--text-color);
    transition: fill 0.2s cubic-bezier(1, -0.01, 0, 1.11);
    &:hover {
      color: var(--primary-color);
    }
  }
}

.line {
  margin-top: 1rem;
  width: 8rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
