<section class="card" (click)="openExperience()">
  <header>
    <div class="title">
      <p class="work">{{ experience.company }}</p>
      <p class="job">{{ experience.position }}</p>
    </div>
    <i class="fas fa-external-link-alt"></i>
  </header>
  <main>
    <p>{{ experience.date }}</p>
    <ul>
      <li *ngFor="let item of experience.learning">
        <div class="item">
          <icon-item class="icon"></icon-item>
        </div>
        {{ item }}
      </li>
    </ul>
  </main>
</section>
