.card {
  background-color: var(--card-color);
  border-radius: 0.3rem;
  padding: 2rem;
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    .title {
      line-height: 1.2;
      font-weight: 500;
      font-size: 1.2rem;
      .work {
        color: var(--primary-color);
      }
    }
  }
  i {
    &:hover {
      cursor: pointer;
      color: var(--primary-color);
    }
  }
  main {
    p {
      font-size: 1.1rem;
      color: var(--sub-text-color);
      margin-bottom: 0.5rem;
    }
    ul {
      margin-left: 1rem;
      font-size: 1rem;
      li {
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: var(--sub-text-color);
        list-style-type: "🔹";
        // content: url(/heart.svg)
        padding-inline-start: 0.5rem;
      }
    }
  }
}
