.skill {
  .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
  }
  .progress-bar {
    width: 100%;
    background-color: #4B6065;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    div {
      background-color: var(--primary-color);
      width: 100%;
      max-width: calc(var(--val) * 1%);
      height: 0.45rem;
      border-radius: 10rem;
    }
  }
}
