.skill {
  .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    .icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
  .progress-bar {
    width: 100%;
    background-color: var(--aux-color);
    border-radius: 10rem;
    display: flex;
    align-items: center;
    div {
      background-color: var(--primary-color);
      width: 100%;
      max-width: calc(var(--val) * 1%);
      height: 0.3rem;
      border-radius: 10rem;
    }
  }
}
