// font-family: 'Baloo 2', cursive
// font-family: 'Fira Code', monospace
// font-family: 'Laila', sans-serif

:root {
  --navbar-text-color: #003336;
  --background-color: #a5c9c3;
  --background-color-trasparent: #a5c9c32a;
  --primary-color: #003336;
  --primary-disabled-color: #888888;
  --card-color: #c7c7c7;
  --text-color: #000000;
  --sub-text-color: #003336;
  --background-chat-color: #27857e;
  --usr-msg-color: #adffbeef;
  --logo-primary: #003336;
  --logo-secondary: #003336;
  --aux-color: #8596ac;
  --scroll-color: #003336e7;
}

.dark {
  --navbar-text-color: #eaeaea;
  --background-color: #141414;
  --background-color-trasparent: #14141488;
  --primary-color: #00cbf8;
  --primary-disabled-color: #888888;
  --card-color: #042222;
  --text-color: #eaeaea;
  --sub-text-color: #999da0;
  --background-chat-color: #06615b;
  --usr-msg-color: #003336;
  --logo-primary: #00cbf8;
  --logo-secondary: #bdbdbd;
  --aux-color: #4b6065;
  --scroll-color: #c0c0c054;
}

* {
  font-family: "Baloo 2", cursive;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background-color: trasparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 20rem;
}

body {
  background-color: var(--background-color);
  // z-index: -2;
}

// #colorBg {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   right: 0;
//   background-color: #232726;
//   transition: clip-path 350ms ease-in;
//   clip-path: circle(0% at 100% 0);
//   z-index: -1;
// }

// #colorBg[data-dark="true"] {
//   clip-path: circle(200% at 100% 0%);
// }
