// font-family: 'Baloo 2', cursive
// font-family: 'Fira Code', monospace
// font-family: 'Laila', sans-serif

:root {
  --navbar-text-color: #003336;
  --background-color: #a5c9c3;
  --background-color-trasparent: rgba(134, 134, 134, 0);
  --primary-color: #003336;
  --primary-disabled-color: #888888;
  --card-color: #d6d6d6;
  --text-color: #000000;
  --sub-text-color: #003336;
  --background-chat-color: #27857e;
  --usr-msg-color: #adffbeef;
  --logo-primary: #003336;
  --logo-secondary: #003336;
}

.dark {
  --navbar-text-color: #eaeaea;
  --background-color: #252e2d;
  --primary-color: #00cbf8;
  --primary-disabled-color: #888888;
  --card-color: #042222;
  --text-color: #eaeaea;
  --sub-text-color: #7c8183;
  --background-chat-color: #06615b;
  --usr-msg-color: #003336;
  --logo-primary: #00cbf8;
  --logo-secondary: #bdbdbd;
}

* {
  font-family: "Baloo 2", cursive;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background-color: trasparent;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c054;
  border-radius: 20rem;
}

body {
  background-color: #a5c9c3;
}

#colorBg {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #252e2d;
  transition: clip-path 350ms ease-in;
  clip-path: circle(0% at 100% 0);
}
#colorBg[data-dark="true"] {
  clip-path: circle(200% at 100% 0%);
}
